@import '../common/common';
@import '../common/mixins';
div.hero{
    @include reset_proportions;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    padding: 36px;
    color: white;
    position: relative;

    p.slogan{
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-size: 26px;
        text-align: left;
        line-height: 32px;
        margin: 16px auto;
        overflow-wrap: anywhere;
        z-index: 2;
        filter: drop-shadow(0 2px 2px black);
    }
    
    p.subfrase{
        font-family: 'Josefin Sans';
        font-weight: 300;
        line-height: 32px;
        font-size: 18px;
        text-align: left;
        margin: 16px 0;
        z-index: 2;
        filter: drop-shadow(0 2px 2px black);
    }

    .btnOrganizer{
        display: flex;
        justify-content:baseline;
        z-index: 2;

        button.cta{
            background-color: $base_color;
            animation: pulse 10s ease infinite;
        }
    }

    div.heroContent{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 1;
        overflow-x: hidden;

        div.heroFilter{
            content: "";
            width:inherit;
            height:inherit;
            background-color: rgba(0,0,0,.2);
            backdrop-filter: blur(2px);
            position: absolute;
            top:0;
            left:0;
        }
        
        div.heroImage{
            width:1415px;
            height:100vh;
            // background: url('./hero_bg_forjatech.png');
            background-size: contain;
            animation: autoHorizontalScroll 64s linear infinite
        }

        @keyframes autoHorizontalScroll {
            0%{background-position: 0;}
            100%{background-position: 1415px;}
        }
        background-position: 100px;
    }

    @keyframes pulse {
        85%{transform: scale(1);}
        90%{transform: scale(1.01); background-color:transparent; color:$base_color; border: solid 1px $base_color;}
        95%{transform: scale(1.05); background-color:transparent; color:$base_color; border: solid 1px $base_color;}
        100%{transform: scale(1);}
    }
}