@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap");
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button.btn {
  padding: 8px;
  margin: 4px;
  width: 200px;
  border-radius: 4px;
}

div.hero {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  padding: 36px;
  color: white;
  position: relative;
}

div.hero p.slogan {
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: 26px;
  text-align: left;
  line-height: 32px;
  margin: 16px auto;
  overflow-wrap: anywhere;
  z-index: 2;
  -webkit-filter: drop-shadow(0 2px 2px black);
          filter: drop-shadow(0 2px 2px black);
}

div.hero p.subfrase {
  font-family: 'Josefin Sans';
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
  text-align: left;
  margin: 16px 0;
  z-index: 2;
  -webkit-filter: drop-shadow(0 2px 2px black);
          filter: drop-shadow(0 2px 2px black);
}

div.hero .btnOrganizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  z-index: 2;
}

div.hero .btnOrganizer button.cta {
  background-color: #FFFF00;
  -webkit-animation: pulse 10s ease infinite;
          animation: pulse 10s ease infinite;
}

div.hero div.heroContent {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow-x: hidden;
  background-position: 100px;
}

div.hero div.heroContent div.heroFilter {
  content: "";
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
}

div.hero div.heroContent div.heroImage {
  width: 1415px;
  height: 100vh;
  background-size: contain;
  -webkit-animation: autoHorizontalScroll 64s linear infinite;
          animation: autoHorizontalScroll 64s linear infinite;
}

@-webkit-keyframes autoHorizontalScroll {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1415px;
  }
}

@keyframes autoHorizontalScroll {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1415px;
  }
}

@-webkit-keyframes pulse {
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    background-color: transparent;
    color: #FFFF00;
    border: solid 1px #FFFF00;
  }
  95% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background-color: transparent;
    color: #FFFF00;
    border: solid 1px #FFFF00;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    background-color: transparent;
    color: #FFFF00;
    border: solid 1px #FFFF00;
  }
  95% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background-color: transparent;
    color: #FFFF00;
    border: solid 1px #FFFF00;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=hero.css.map */