@import '../common/common';
@import '../common/mixins';
div.hero{
    @include reset_proportions;
    animation: colorful 5s linear infinite;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    padding: 36px;
    color: white;
    position: relative;

    p.slogan{
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-size: 26px;
        text-align: left;
        line-height: 32px;
        margin: 16px auto;
        overflow-wrap: anywhere;
        z-index: 2;
    }
    
    p.subfrase{
        font-family: 'Josefin Sans';
        font-weight: 300;
        line-height: 32px;
        font-size: 18px;
        text-align: left;
        margin: 16px 0;
        z-index: 2;
    }

    .btnOrganizer{
        display: flex;
        justify-content:baseline;
        z-index: 2;

        button.cta{
            background-color: $base_color;
            animation: pulse 10s ease infinite;
        }
    }

    div.heroContent{
        content: "";
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 1;
    }

    @keyframes pulse {
        85%{transform: scale(1);}
        90%{transform: scale(1.01); background-color:transparent; color:$base_color; border: solid 1px $base_color;}
        95%{transform: scale(1.05); background-color:transparent; color:$base_color; border: solid 1px $base_color;}
        100%{transform: scale(1);}
    }

    @keyframes colorful {
        0%{
            background-color: #000;
        }
        20%{
            background-color: #333;
        }
        50%{
            background-color: #666;
        }
        80%{
            background-color: #333;
        }
        100%{
            background-color: #000;
        }
    }
}