@import '../../common/common';
@import '../../common/mixins';

section.tresde_hero{
    background-color: transparent;
    height:100vh;
    width: 100%;

    Canvas{
        width: 100%;
        height: 100%;
        background: rgb(255,255,0);
        background: -moz-linear-gradient(32deg, rgba(255,255,0,1) 0%, rgba(0,0,0,1) 75%);
        background: -webkit-linear-gradient(32deg, rgba(255,255,0,1) 0%, rgba(0,0,0,1) 75%);
        background: linear-gradient(32deg, rgba(255,255,0,1) 0%, rgba(0,0,0,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffff00",endColorstr="#000000",GradientType=1);
    }
}