@import '../common/common';
@import '../common/mixins';

section.skills{
    @include reset_proportions;
    font-size: 1em;
    font-family: 'Josefin Sans';

    div.container{
        height: 100%;
        padding:16px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        h1.sectionTitle{
            font-size:2rem;
            font-weight: medium;
            margin-top: 32px;
        }

        p.resume{
            font-weight: light;
            font-size: 1rem;
            letter-spacing: 0.1rem;
            margin: 16px 0;
        }

        h2.subtitle{
            font-weight: regular;
            font-size: 1.1rem;
            text-decoration: underline;
            text-decoration-color: $base_color;
            text-decoration-thickness: 4px;
        }

        ul{
            list-style:none;
            margin: 8px 0;
            li{
                line-height: 1rem;
                font-weight: light;
                font-size: .9rem;
                letter-spacing: 0.1rem;
            }
        }
    }
}