@import '../common/common';
@import '../common/mixins';

section.contato{
    @include reset_font_size;
    
    div.container{
        div.topBlackDetail{
            content: "";
            height: 32px;
            background-color:black;
            margin: 0 16px;
        }
        
        h1.sectionTitle{
            width: 100%;
            margin: 55px 0;
            text-align: center;
        }
        
        div.alertBoard{
            background-color: $base_color;
            padding: 32px 16px;

            p.boardMessage{
                font-size:.9rem;
                letter-spacing: 0.08rem;
            }
        }

        div.contactFormWrapper{
            padding: 16px;
            form{
                div.inputOrganizer{
                    display: flex;
                    flex-direction:column;
                    align-items:center;
                    margin: 16px 0;
                    width: 100%;

                    label.labelForContactInput{
                        width: inherit;
                        font-weight: bold;
                        letter-spacing: 0.08rem;
                        margin-bottom: 16px;
                    }

                    input, textarea{
                        padding: 8px;
                        width: inherit;
                        letter-spacing: 0.08rem;
                        border: solid 2px black;
                        outline: none;
                    }

                    input.contactInput{
                        height: 32px;
                    }
                    
                    textarea.contactInput{
                        height: 100px;
                        resize: vertical;
                    }
                }

                input.enviarBtn{
                    cursor: pointer;
                    width:100%;
                    height: 64px;
                    margin: 32px 0;
                    background-color: black;
                    color: $base_color;
                }
            }

            p.feedbackMessage{
                background-color:#FFFF00;
                border: solid 2px black;
                height: 50px;
                font-size: 12px;
                letter-spacing:0.08rem;
                color:black;
                width:100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        p.social_label{
            width: 100%;
            text-align: center;
        }

        div.social{
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            margin: 16px 0;
            
            a{ 
                margin: 0 16px;
                svg.icon{
                    width: 45px;
                    height: 45px;
                    fill: black;
                }
            }

        }
    }
}