@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap");
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button.btn {
  padding: 8px;
  margin: 4px;
  width: 200px;
  border-radius: 4px;
}

section.contato {
  font-size: 1em;
}

section.contato div.container div.topBlackDetail {
  content: "";
  height: 32px;
  background-color: black;
  margin: 0 16px;
}

section.contato div.container h1.sectionTitle {
  width: 100%;
  margin: 55px 0;
  text-align: center;
}

section.contato div.container div.alertBoard {
  background-color: #FFFF00;
  padding: 32px 16px;
}

section.contato div.container div.alertBoard p.boardMessage {
  font-size: .9rem;
  letter-spacing: 0.08rem;
}

section.contato div.container div.contactFormWrapper {
  padding: 16px;
}

section.contato div.container div.contactFormWrapper form div.inputOrganizer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
  width: 100%;
}

section.contato div.container div.contactFormWrapper form div.inputOrganizer label.labelForContactInput {
  width: inherit;
  font-weight: bold;
  letter-spacing: 0.08rem;
  margin-bottom: 16px;
}

section.contato div.container div.contactFormWrapper form div.inputOrganizer input, section.contato div.container div.contactFormWrapper form div.inputOrganizer textarea {
  padding: 8px;
  width: inherit;
  letter-spacing: 0.08rem;
  border: solid 2px black;
  outline: none;
}

section.contato div.container div.contactFormWrapper form div.inputOrganizer input.contactInput {
  height: 32px;
}

section.contato div.container div.contactFormWrapper form div.inputOrganizer textarea.contactInput {
  height: 100px;
  resize: vertical;
}

section.contato div.container div.contactFormWrapper form input.enviarBtn {
  cursor: pointer;
  width: 100%;
  height: 64px;
  margin: 32px 0;
  background-color: black;
  color: #FFFF00;
}

section.contato div.container div.contactFormWrapper p.feedbackMessage {
  margin: 128px 0;
  background-color: #FFFF00;
  border: solid 2px black;
  height: 50px;
  font-size: 12px;
  letter-spacing: 0.08rem;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.contato div.container p.social_label {
  width: 100%;
  text-align: center;
}

section.contato div.container div.social {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 16px 0;
}

section.contato div.container div.social a {
  margin: 0 16px;
}

section.contato div.container div.social a svg.icon {
  width: 45px;
  height: 45px;
  fill: black;
}
/*# sourceMappingURL=contato.css.map */