@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');
$base_color: #FFFF00;
$background_color: #444;

*{
    user-select: none;
}

//Common elements
button.btn{
    padding: 8px;
    margin: 4px;
    width: 200px;
    border-radius: 4px;
}