@mixin reset_height(){
    height: 100vh;
}
@mixin reset_width(){
    width: 100vw;
}
@mixin reset_proportions(){
    @include reset_height;
    @include reset_width;
}

@mixin reset_font_size(){
    font-size:1em;
}